/* Here is where the body style stars */

body {
 background-image: url("../image_uploads/background.gif");
 background-color: #cccccc;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 font-family: $font;
 height: 95%;
 width: 95%;
}

.container {
 /* margin-top: 0; */
 font-family: $font;
 width: 1500px;
 margin: 0 auto;
 background-color: #ffffff;
 border: 1px solid black;
 padding: 0.5em 5em 0em 5em;
}

section {
 float: left;
 width: 800px;
 padding-bottom: 1.5em;
}

ul {
 margin: 0 0 1em 0;
 padding: 0 0 0 2.5em;
}
li {
 margin: 0;
 padding: 0;
}
a {
 color: rgb(41, 64, 124);
 font-weight: bold;
}
a:hover {
 color: rgb(208, 133, 4);
}
table {
 border: 1px solid black;
 border-collapse: collapse;
 width: 800px;
}
td,
th {
 border: 1px solid black;
 padding: 0.2em 3em;
 vertical-align: auto;
 text-align: center;
}
form {
 margin: 0;
}
br {
 clear: left;
}

/* the styles for classes */

.product_info {
 font-weight: bold;
}

.last_paragraph {
 margin-bottom: 2em;
}
.margin_top_increase {
 margin-top: 1em;
}

.add_component_form {
 margin: 0.5em 0 1em;
}
.add_component_form label {
 font-weight: bold;
 width: 12em;
 padding-right: 1em;
 padding-bottom: 1em;
 float: left;
}
.add_component_form input {
 float: left;
}
